@model ConnectionLibrary.Model.Result

<select class="form-control" id="drpM_Nagar" name="M_NagarID" onchange="BindMilandata(this);" >
    @if (Model.ListNagar != null && Model.ListNagar.Count > 0)
    {
        <option value="@Model.ListNagar.FirstOrDefault().NagarID" selected="selected">@Model.ListNagar.FirstOrDefault().Nagar</option>
    }
</select>






