@model ConnectionLibrary.Model.Result
<div class="card card-info">
    <div class="card-header">
        @if (Model.ViewNagar != null)
        {
            <h3 class="card-title">નગર (Total: @Model.ViewNagar.Count)</h3>
        }
        else
        {
            <h3 class="card-title">નગર</h3>
        }
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    
        <table class="card-body table table-bordered">
            <thead class="m-head">
                <tr>
                    <th>નગર </th>
                    <th>ભાગ </th>

                    <th>કુલ વસ્તી </th>
                    <th style="width:40%"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ViewNagar != null)
                {
                    foreach (var item in Model.ViewNagar)
                    {
                    <tr>
                        <td>@item.Nagar</td>
                        <td>@item.Bhag</td>


                        <td>@item.VastiCount</td>
                        
                    </tr>
                                            
                    }
                }
            </tbody>
        </table>
    
</div>
