@model ConnectionLibrary.Model.Result
@{
    ViewBag.Title = "Bhag";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

 <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">ભાગ</h1>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Master")">Home</a></li>
                                <li class="breadcrumb-item active">ભાગ</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <section class="content">
                  <form id="frmrss">
                <div class="container-fluid">
                    <!-- SELECT2 EXAMPLE -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Search</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-1 text-right col-form-label">ભાગ: <span style="color: red;">*</span></label>
                                <div class="col-sm-9">
                                   @Html.DropDownListFor(x => Model.BhagID, new SelectList(Model.ListBhag, "BhagID", "Bhag"), htmlAttributes: new { @class = "form-control", id = "drpBhag" })
                                </div>
                                <div class="col-sm-2">
                                     <input type="button" id="btnSearch" class="btn-block btn btn-info" value="Search">
                                </div>
                            </div>

                        </div>
                    </div>
                   
                         <div id="Datalist">
                        @Html.Partial("~/Views/Shared/Partial/_ViewBhag.cshtml", Model)
                   
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
                      </form>
            </section>
        </div>
        <!-- /.content-wrapper -->
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("a").filter(".nav-link active").removeClass("nav-link active");
            $("#Bhag").addClass("nav-link active");
            $("#Master").addClass("nav-link active");
            $("li").filter(".nav-item menu-open").removeClass("nav-item menu-open");
            $("#Masterli").addClass("nav-item menu-open");
        });
        $("#btnSearch").click(function () {

            var TValidate = true;
            if (TValidate) {
                if ($("#drpBhag").val() == "0") {
                    toastr.error("Please Select Bhag");
                    $("#drpBhag").focus();
                    TValidate = false;
                }

            }
            if (TValidate) {

                $.ajax({
                    type: "POST",
                    url: "/Master/BhagByID",
                    data: $("#frmrss").serialize(),
                    timeout: 600000,
                    beforeSend: function () {
                        $('#milan').css("display", 'block');
                    },
                    success: function (data) {
                        
                        if (data == "0") {

                            toastr.error("Record Not Found!!");

                        }
                        else {
                            $("#Datalist").html(data);

                        }
                    },
                    complete: function () {
                        $('#milan').css("display", 'none');
                    },
                });
            }

            return TValidate;
        });
    </script>
}